doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title H5book
        
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css")

    body
        header.flex
            h1.title H5book
        div 
            input(type="text" placeholder="entrez un mot...")
        div#main-content
            // Contenu principal de la page
        footer.footer
            // Contenu du pied de page
